* { margin:0; padding:0; color:grey; }
#main { width:1020px; height:auto; margin:auto; } 
h1 { text-align:center; }
#nav { width:660px; height:50px; margin:auto; margin-top:20px }
#nav ul { list-style-type:none  }
#nav ul li { width:130px; height:40px; float:left; text-align:center; }
#nav ul li a { text-decoration:none; font-weight:bold; font-size:20px; 
line-height:40px; }
#page a { color:blue}
#contentarea { width:580px; height:auto;  margin:auto; font-weight:bold; 
font-size:16px; letter-spacing:4px; }
.modify { display:block; float:right; margin-top:-54px }
.modify_icon { width:auto; height:auto; text-align:center }
.modify_content { display:none; width:60px; height:auto; text-align:center; }
#notice { color:red; }
