{{define "reg"}}	
<!DOCTYPE HTML>
<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    		<script src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
		<script type="text/javascript">
			$(function() {
				$.validator.addMethod("isValidUser", function(value, element){
					var reg = /^[a-zA-z][a-zA-Z0-9]*$/;
					return this.optional(element) || (reg.test(value));
				})
				$.validator.addMethod("isValidPasswd", function(value, element){
					if (value.length == 0) {
						return false;
					}
					return true;
				})
				$.validator.addMethod("passwdMinLength", function(value, element){
					if (value.length < 5) {
						return false;
					}
					return true;
				})
				$.validator.addMethod("passwdMaxLength", function(value, element){
					if (value.length > 50) {
						return false;
					}
					return true;
				})
				
				$("form").validate({
					rules: {
						username: {
							required: true,
							minlength: 5,
							maxlength: 50,
							isValidUser: true
						},
						passwd: {
							isValidPasswd: true,
							passwdMinLength: true,
							passwdMaxLength: true,
						},
						passwd2: {
							isValidPasswd: true,
							passwdMinLength: true,
							passwdMaxLength: true,
							equalTo: "#passwd"
						},
					},
					messages: {
						username: {
							required: "*用户名不能为空",
							minlength: "*用户名不得少于5位",
							maxlength: "*用户名不得大于50位",
							isValidUser: "*字母开头的字母和数字组合"
						},
						passwd: {
							isValidPasswd: "*用户密码不能为空",
							passwdMinLength: "*用户密码不得少于5位",
							passwdMaxLength: "*用户密码不得大于50位"
						},
						passwd2: {
							isValidPasswd: "*确认密码不能为空",
							passwdMinLength: "*确认密码不得少于5位",
							passwdMaxLength: "*确认密码不得大于50位",
							equalTo: "*密码不一致"
						}
					},
					submitHandler: function(form) {
						$("#button").attr("disabled", "disabled");
						form.submit();
					}
				})
			})
		</script>
		<style type="text/css">
			#button {
				width:80px; 
				height:40px; 
				font-size:14px;
				font-weight:bold;
			}
			label.error {
				color:red;
			}
		</style>
	</head>
	<body>
		<div id="contentarea">
			<div id="notice">{{.}}</div>
			<form action="http://localhost:9090/reg" method="post">	
				<label for="username">用户名 &nbsp;&nbsp;</label>
				<input type="text" name="username" id="username" autofocus required maxlength="50" />
				<br /><br />
				
				<label for="passwd">密　码 &nbsp;&nbsp;</label>
				<input type="password" name="passwd" id="passwd" maxlength="50" />
				<br /><br />
				
				<label for="passwd2">确认密码&nbsp; </label>
				<input type="password" name="passwd2" id="passwd2" maxlength="50" />
				<br /><br />
				<input type="submit" id="button" value="注册用户" />
				<a href="http://localhost:9090/login">登录</a>
			</form>
		</div>
	</body>
</html>
{{end}}
