{{define "index"}}
<!DOCTYPE HTML>
<html>
	<head>
		<title>留言板</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<script src="js/jquery-1.9.1.min.js"></script>
    		<script src="js/jquery.validate.js"></script>
		<script type="text/javascript">
			$(function() {
				$("form").validate({
					rules: {
						content: {
							required: true,
							maxlength: 450,
						},
						captchaSolution: {
							required: true,
							maxlength: 6
						}
					},
					messages: {
						content: {
							required: "*留言不能为空",
							maxlength: "*留言不得超过500"
						},	
						captchaSolution: {
							required: "*验证码不能为空",
							maxlength: "*验证码不得超过6位"
						}
					},
					submitHandler: function(form) {
						$("#button").attr("disabled", "disabled");
						form.submit();
					}
				})
				$("#captcha").click(function() {
					var src = $("#image").attr("src");
					var p = src.indexOf("?");
					if (p >= 0) {
						src = src.substr(0, p)
					}
					src += "?reload=" + ((new Date()).getTime());
					$("#image").attr("src", src)
				})
				$(".modify").click(function() {
					$(".modify_content").css("display", "none")
					$(this).children(".modify_content").css("display", "block")
				})
				$(".modify_content").mouseleave(function() {
					$(".modify_content").css("display", "none")
				})
			})
		</script>
		<style type="text/css">
			#button {
				width:60px; 
				height:26px; 
				font-size:14px;
				font-weight:bold;
			}
			label.error {
				color:red;
			}
		</style>
	</head>
	<body>
	<div id="main">
		<div id="contentarea">
			<div id="notice">{{.Message}}</div>
			{{range .Content}}	
					用户名: {{.Username}}<br />
					留言内容: {{.Content | html}}<br />
					留言时间: {{.Time}}<br />
					{{if .WhetherDelete}}
						<span class="modify">
							<div class="modify_icon"><img src="/image/icon.jpg" /></div>
							<div class="modify_content">
								<a href="http://localhost:9090/delguest?id={{.Id}}">删除</a>
							</div>
						</span>
					{{end}}
					<br />
					<hr >
					<br /><br />
			{{end}}
			<div id="page">
				<a href="http://localhost:9090?page=1">首页</a>
				<a href="http://localhost:9090?page={{.PrevPage}}">上一页</a>
				<a href="http://localhost:9090?page={{.NextPage}}">下一页</a>
				<a href="http://localhost:9090?page={{.TotalPage}}">尾页</a>
			</div>
		</div><br />
		<div style="margin-left:218px">
		<form action="http://localhost:9090/guest" method="post">	
			请输入您的留言：<br /><br />
			<textarea name="content" id="content" cols="40" rows="10"></textarea><br />
			<a href="#" id="captcha">
				<img id="image" src="http://localhost:9090/captcha/{{.CaptchaId}}.png" alt="正在载入验证码" />
			</a>	
			<input type="hidden" name="captchaId" value="{{.CaptchaId}}" /><br />
			请输入验证码 <input type="text" name="captchaSolution" size="10" /><br /><br />
			<input type="submit" id="button" value="留言" />
		</form>
		</div>
	</div>
	</body>
</html>
{{end}}
